*
{
    margin:0;
    padding:0;
    font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}
body
{
    display: flex;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow-x: hidden;
}

#code
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #FFF;

}

#code #editor
{
    position: absolute;
    width: 100%;
    height: 100vh;
}
#cpu
{
    display: flex;
    flex-direction: column;
    resize: horizontal;
    overflow: hidden;
    width: 50%;
    height: 100%;
}

#cpu #up
{
    resize: vertical;
    overflow: auto;

    height: 50%;
    width: 100%;

    display: flex;
    flex-shrink: 0;
    border-bottom: 1px solid #FFF;
}

#cpu #down
{
    background-color: #141414;
    flex-grow: 1;
    /* height: 100px; */
    overflow-y: scroll;
}

#internal_memory
{
    background-color: #141414;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
#external_memory
{
    width: 100%;
    height: 100%;
}


#control
{
    background-color: rgb(255, 0, 119);
    width: 200px;
    height: 100%;

}

#internal_memory_content
{
    flex-grow: 1;
    display: inline-grid;
}

.internal_memory_element
{
    background-color: #333;
    color: white;
    display: flex;
    max-height: 60px;
}
.internal_memory_element span 
{
    margin: auto 0 auto 0;
    flex-grow: 1;
    flex-shrink: 0;
}

.internal_memory_element span:first-child
{
    text-align: right;
    padding-right: 1em;
}

#external_memory_content
{
    /* font-family: monospace; */
}

#external_memory_content table
{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    color: #FFF;
}

#external_memory_content tr:first-child td
{
    border-bottom: 1px solid white;
    border-right: none !important;

}
#external_memory_content tr:last-child td
{
    border-bottom: 1px solid white;
}


#external_memory_content td:first-child
{
    border-right: 1px solid white;
    border-bottom: none !important;
}